language: android
jdk: 
  - oraclejdk8
  - oraclejdk7

android:
  components:
    # The BuildTools version used by your project
    - tools
    - build-tools-23.0.2

    # The SDK version used to compile your project
    - android-23
    
before_install:
  - chmod +x gradlew    

script:
    - ./gradlew build connectedCheck
